
body {
  background-color: #f8f8ff !important;

}

#root{
  height: 100%;
  margin-top: 100px;
}

.ui.inverted.top.fixed.menu {
  background-color: #161b22;
  border-bottom: 2px solid #8F00FF;
  height: 60px;


}

#body{
  height: 100%;
  padding-top: 60px;
  background-color: #0d1117;
}

li{
  color: #f0ead6;
}

.navbar {
  
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars{
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #161b22;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%; 
  transition: 850ms;

}

.nav-menu.active {
  left: 0;
  transition: 350ms;

}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 8px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decorations: none;
  color:azure;
  font-size: 17px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
  .nav-text a:hover {
    background-color: azure;

  }

  .nav-menu.items{
    width:100%;
  }

  .navbar-toggle {
    background-color: #161b22;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

 span {
   margin-left: 60px;
 }

 .email{
   margin-left: auto;
   display: flex;
   align-items: center;
 }

 .hidden{
   display: none;
 }



